/* Aquí estara el estilo de la web */
/*Paleta de colores para la web:
    Blanco Roto: #F8F8F8
    Gris Oscuro Suave: #4A4A4A
    Azul Verdoso (Teal): #20B2AA
    Verde Suave: #66BB6A
    Naranja/Coral Suave: #FF7043  
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
    background-color: #66BB6A;
    padding: 10px;

}

.Encabezado_principal {
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    word-spacing: 5px;
}


button {
    /*Definimos la posicion del boton como estatica
    el borde del boton en color negro
    el radio del boton en 5 pixeles para suavizar el contorno
    el color del boton como azul verdoso
    separacion interna de 3 pixeles
    */

    position: static;
    border-color: black;
    border-radius: 5px;
    background-color: #4A4A4A;
    padding: 20px 40px;
    cursor: pointer;

}

.botones_sitios {
    margin-top: 40px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 10px;                 
    flex-wrap: wrap;           
}

details {
    margin-top: 15px;
    text-align: center;
}

summary {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    display: block;
}

.tabla_horario {
    margin-top: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    border-color: #000000;
    background-color: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}





